
 body{
  
  background: url("../images/background.png");
  background-position: center;

}
.container {
	/* background-image: url("../images/background.png"); */
	min-height: 90%;
  margin-bottom: 20px;
  background-size: cover;
  
}
.crystalcontainer{
  display:flex;
  justify-content:space-around;
  border:1px solid red;
  align-items:center;
  
}
.crystal{
  border:1px solid green;
  margin: 30px;
  height: 200px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  transition: box-shadow 1s; transform: 1s;
  
}
.crystal:hover{
  box-shadow: 15px 15px 15px rgba(0,0,0,0.7);  
  transform: translate(5px,35px);
  cursor: pointer;
  transition: box-shadow 1s;transform: 1s;
}
img{
  width: 50px;
  height: 50px;
  
}

.lead{
  color: red;
}

/**crystal Container--start**/


.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/**crystal Container--End**/

.footer {
	min-height: 10%;
	overflow: auto;
  background: url("../images/background.png");
}

.footerContainer {
	font-size: 10px;
	padding: 10px;
	margin-top: 30px;
}



